.container {
  max-width: 320px;
  border: solid 1px rgb(19, 150, 211);
}

#display {
  background-color: white;
border-top: 20px solid rgb(41, 255, 226);
border-bottom: 20px solid rgb(41, 255, 226);
max-height: 80px;
padding: 25 0px;
border: solid 1px rgb(19, 150, 211);
}

.margin-left {
  margin-left: 15px;
}
.cell {
  border: solid 1px rgb(19, 150, 211);
  background-color: rgb(41, 255, 226);
  height: 80px;
  padding: 26px 0px;
  text-align: center;
}

.square {
  max-width: 80px;
}

.cell:hover {
 background-color: aqua;
}

li {
  margin-left: 1rem;
  list-style: none;
}